<connectionStrings>
  <add name="EPiServerDB" connectionString="Data Source=.;Initial Catalog=EpiIdentity.Cms;Integrated Security=False;User ID=sa;Password=n1t3c0@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="AspNetIdentity" connectionString="Data Source=.;Initial Catalog=EpiIdentity.AspNetIdentity;Integrated Security=False;User ID=sa;Password=n1t3c0@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>
